@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'tiktok';
    src: url('/../public/font/TikTok.ttf') 
}


.logo {
    font-family: 'tiktok', sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
    @apply rounded-md
}
  
::-webkit-scrollbar-track {
   @apply bg-transparent
}

::-webkit-scrollbar-thumb {
    background: #242424;
}
  
::-webkit-scrollbar-thumb {
    background: #242424;
}

.sidebar::-webkit-scrollbar-thumb {

    @apply bg-transparent
}
.sidebar:hover::-webkit-scrollbar-thumb {
    background: #242424;
}
  